@page "/poker"

<PageTitle>Poker</PageTitle>

<h1>Poker</h1>

<div id="hand border" style="height:100%; width:100%; overflow: hidden;">
    <div id="card1" style="float: left; width:20%; background-color:lightblue;">Card 1</div>
    <div id="card2" style="float: left; width:20%; background-color:lightgrey;">Card 2</div>
    <div id="card3" style="float: left; width:20%; background-color:lightblue;">Card 3</div>
    <div id="card4" style="float: left; width:20%; background-color:lightgrey;">Card 4</div>
    <div id="card5" style="float: left; width:20%; background-color:lightblue;">Card 5</div>
</div>


@code {

}
